<%= render 'communities/header' %>
<div class="message-index">
  <div class='side'>
  <% if @community.image.present? %>
    <%= image_tag @community.image.url, class: "community-icon" %>
  <% end %>
  <h1 class="mt-4">Member</h1>
  <% @community.users.each do |user| %>
    <h1 class="mt-3 text-warning">
    <%= user.name %>
    </h1>
  <% end %>
  </div>
  <div class='message-main'>
    <div class='messages'>
      <%= render partial: 'message', collection: @messages %>
    </div>
    <div class='message__form fixed-bottom'>
      <div class='message__form--box'>
        <%= form_with class: 'form-box', id: 'sending', method: 'post', model: [@community, @message] do |f| %>
          <%= f.text_field :text, class: 'f-text', placeholder: 'text' %>
            <div class='btns'>
            <%= f.label :image, class: 'add-option' do %>
              <i class="fab fa-delicious"></i>
              <%= f.file_field :image, class: 'file' %>
            <% end %>
            <%= f.button type: 'submit', class: 'form-btn',method: "post" do %>
              <i class="fas fa-upload"></i>
              <%= f.submit class: 'secret-btn' %>
            <% end %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>