<header class= "sticky-top text-center">
  <%= image_tag current_user.image.url, class: "user-icon" %>
  <h1><%= current_user.name %></h1>
  <div class="icon-box">
    <%= link_to "", new_community_board_path, class: "fas fa-backspace" %>
    <%= link_to "", community_messages_path, class: "far fa-comment-dots" %>
    <%= form_with class: 'form-box', model: @boards do |b| %>
      <%= b.button type: 'submit', class: 'form-btn-board bg-primary text-light' do %>
        create
      <% end %>
    <% end %>
  </div>
  </div>
</header>

<%= render partial: 'part', collection: @parts %>

<%= form_with model: [@community, @part] do |f| %>
  <%= f.text_field :text, class: 'f-text', placeholder: 'text' %>
  <h1></h1>
  <%= f.file_field :image, class: 'file' %>
  <h1></h1>
  <%= f.submit "編集追加" %>
<% end %>