<header class= "sticky-top text-center">
  <% if current_user.image.present? %>
    <%= image_tag current_user.image.url, class: "user-icon" %>
  <% end %>
  <h1><%= link_to "#{current_user.name}", user_path(current_user.id), class: "text-dark" %></h1>
  <div class="icon-box">
    <%= link_to "acount", user_path(current_user), class: "fas fa-user btn border" %>
    <%= link_to "My community", root_path(current_user.id), class: "fas fa-users btn border" %>
    <%= link_to "New community", new_community_path, class: "fas fa-user-plus btn border" %>
    <%= link_to 'Settig', edit_community_path(@community.id), class: "fas fa-cog btn border" %> 
    <%= link_to "Boards", boards_path, class: "fas fa-id-card-alt btn border" %>
    <%= link_to "メッセージ", new_community_part_path, class: "fas fa-plus bg-success text-light p-2 rounded-pill border" %>
  </div>
</header>


<% @parts.each do |part| %>
<div class="card bg-light text-white community-card w-50 mx-auto mt-1 mb-1">
  <div class='request-box w-100'>
  <%= image_tag part.user.image.url, class: "participation-icon" %>
    <div class='request-text'>
    <%= link_to '',"parts/#{part.id}", class: "fas fa-times-circle text-dark", method: "delete" %>
      <h5 class="text-secondary">＜<%= part.user.name %></h5>
      <p class="text-dark ml-4 h5"><%= part.text %></p>
      <% if part.image.present? %>
        <%= image_tag part.image.url, class: "h-75 w-75" %>
      <% end %>
    </div>
    <div class='community-card-btns'>
    </div>
  </div>
  </div>
<% end %>


