<header class= "sticky-top text-center">
  <% if current_user.image.present? %>
    <%= image_tag current_user.image.url, class: "user-icon" %>
  <% end %>
  <h1><%= current_user.name %></h1>
  <div class="icon-box">
    <%= link_to "", user_path(current_user.id), class: "fas fa-user" %>
    <%= link_to "", root_path(current_user.id), class: "fas fa-users" %>
    <%= link_to "", new_community_path, class: "fas fa-user-plus" %>
    <%= link_to "", community_boards_path(current_user.id), class: "far fa-comment-alt" %>
    <%= link_to "New Plan", new_community_part_path, class: "fas fa-plus bg-success text-light p-2 rounded-pill border" %>
  </div>
</header>

<% @parts.each do |part| %>
<div class="card border-secondary mt-2 w-75 mx-auto">
  <div class="card-header">
  <p class="h3">Title: <%= part.title %></p>
  <p class="h5 text-secondary"><%= part.schedule %></p>
  </div>
  <div class="card-body text-secondary">
    <% if part.image.present? %>
      <%= image_tag part.image.url, class: "h-50 w-50" %>
    <% end %>
    <p class="card-text text-dark"><%= part.text %></p>
  </div>
</div>
<% end %>
