<header class= "sticky-top text-center">
  <%= image_tag current_user.image.url, class: "user-icon" %>
  <h1><%= current_user.name %></h1>
  <div class="icon-box">
    <%= link_to "", community_parts_path, class: "fas fa-reply" %>
  </div>
  </div>
</header>

<%= form_with url: community_parts_path do |f| %>
<div class="form-group w-50 mx-auto">
  <div class="form-group">
    <h1 for="exampleFormControlTextarea1">Text</h1>
    <%= f.text_area :text, placeholder: "text", class: "form-control" %>
  </div>
  <h1>Image</h1>
  <%= f.label :image do %>
    <%= f.file_field :image %>
  <% end %>
  <%= f.submit "OK", class: "btn border float-right text-light bg-success" %>
</div>
<% end %>