<h1>User edit</h1>
  <h1>Icon</h1>
  <%= form_with(model: @user, local: true) do |form| %>
  <%= form.text_field :image, placeholder: "image" %>
  <h1>Name</h1>
  <%= form.text_field :name, placeholder: "name" %>
  <h1>age</h1>
  <%= form.text_field :age, placeholder: "age" %>
  <h1>Introduction</h1>
  <%= form.text_area :text, placeholder: "text" %>
  <%= form.submit "Update" %>
<% end %>
