<%= render "communities/header" %>

<% current_user.communities.each do |community| %>
<div class="card bg-light text-white community-card w-75 mx-auto mt-1 mb-1">
  <% if community.image.present? %>
    <%= image_tag community.image.url, class: "card-img-top" %>
  <% end %>
  <div class="card-img-overlay chat-link">
    <%= link_to "#{community.name}", community_messages_path(community.id), class: "bg-link card-title h2" %>
    <p class="card-text text-dark"><%= community.text %></p>
    <div class='community-card-btns'>
    <%= link_to '', edit_community_path(community.id), class: "btn-lg text-dark fas fa-cog" %> 
    <%= link_to '', community_path(community.id) ,class: "btn-lg text-dark fas fa-clipboard-list"%>
    <%= link_to '', new_communities_board_path,class: "btn-lg text-dark fas fa-pen-square"%>
    <%= link_to 'リクエスト', community_parts_path(community.id), class: "btn bg-link text-dark border" %>
    </div>
    <p class="card-text text-dark">
    <% community.tag_list.each do |tag| %>
        <p class="card-text text-secondary">
        #<span><%= tag %></span>
        </p>
      <% end %>
    </p>
  </div>
</div>
<% end %>