<%= render 'communities/header' %>

<% @boards.each do |board| %>

<% if board.image.present? %>
  <div class='mx-auto'>
      <%=image_tag board.image.url class: "d-block mx-auto" %>
  </div>
<% end %>

<div class="card w-75 h-25 mx-auto">
  <div class="card-header">
    name
    <%= link_to 'commit', "/communities/#{@community.ids}/boards/#{board.id}/edit", class: "text-success" %>
    <%= link_to 'destroy', "/communities/#{@community.ids}/boards/#{board.id}", method: :delete %>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <% if board.text.present? %>
        <p><%= board.text %></p>
      <% end %>
      <footer class="blockquote-footer">
      <cite title="Source Title">community</cite></footer>
    </blockquote>
  </div>
</div>
<% end %>


