<header class= "sticky-top text-center">
  <h1><%= current_user.name %></h1>
  <div class="icon-box">
    <%= link_to "", user_path(current_user.id), class: "fas fa-user" %>
    <%= link_to "", root_path(current_user.id), class: "fas fa-users" %>
    <%= link_to "", new_community_path, class: "fas fa-user-plus" %>
    <%= link_to "", community_boards_path(current_user.id), class: "far fa-comment-alt" %>
  </div>
</header>
