<header class= "sticky-top text-center">
  <% if current_user.image.present? %>
    <%= image_tag current_user.image.url, class: "user-icon" %>
  <% end %>
  <h1><%= current_user.name %></h1>
  <div class="icon-box">
    <%= link_to "", user_path(current_user.id), class: "fas fa-user" %>
    <%= link_to "", root_path(current_user.id), class: "fas fa-users" %>
    <%= link_to "", new_community_path, class: "fas fa-user-plus" %>
    <%= link_to "", community_boards_path, class: "far fa-comment-alt" %>
  </div>
</header>
