<%= render 'header' %>
<% current_user.communities.each do |community| %>
<div class="card mb-3">
  <% if community.image.present? %>
    <%= image_tag community.image.url, class: "card-img-top" %>
  <% end %>
  <div class="card-body">
    <h5 class="card-title"><%= community.name %></h5>
    <p class="card-text"><%= community.text %></p>
    <p class="card-text"><small class="text-muted">tags</small></p>
    <div class='community-card-btns'>
    <%= link_to 'edit', edit_community_path(community.id), class: "btn btn-success" %>
    <%= link_to 'show', community_path(community.id) ,class: "btn btn-success"%>
    <%= link_to 'INTO CHAT', community_messages_path(community.id), class: "btn bg-primary text-light" %>
    <%= link_to 'BOARDS', new_community_board_path(community.id), class: "btn bg-light text-warning" %>
    </div>
  </div>
</div>
<% end %>
