<h1>New Community</h1>

<%= form_with(model: @community, local: true) do |f| %>
  <h1>コミュニティ名</h1>
  <%= f.text_field :name, placeholder: "Nickname" %>
  <h1>アイコン</h1>
  <%= f.label :image do %>
    <%= f.file_field :image %>
  <% end %>
  <h1>Introduction</h1>
  <%= f.text_area :text, placeholder: "text" %>
  <h1>メンバー</h1>
  <%= f.collection_check_boxes :user_ids, User.all, :id, :name %>
  <h1>タグ</h1>
  <%= f.text_field :tag_list, placeholder: "tag" %>
  <%= f.submit "SEND" %>
<% end %>