<div class="card mb-3 h-100">
  <% if @community.image.present? %>
    <%= image_tag @community.image.url, class: "h-100 w-100" %>
  <% end %>
  <div class="card-body">
    <h5 class="card-title"><%= @community.name %></h5>
    <p class="card-text"><%= @community.text %></p>
    <p class="card-text"><small class="text-muted">free text</small></p>
    <%= link_to 'edit', edit_community_path(@community.id), class: "btn btn-success" %>
    <%= link_to 'HOME', root_path, class: "btn btn-success" %>
    <h1></h1>
    <%= link_to 'INTO CHAT', community_messages_path(@community.id), class: "btn bg-primary text-light" %>
  </div>
</div>

